In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from datetime import datetime
import requests

In [3]:
data = pd.read_csv("D:\\Projects\\covid_19_india.csv")

In [4]:
data.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [6]:
# change some columns name
data = data.rename(columns={'State/UnionTerritory':'States', 'Cured':'Recovery'})

In [7]:
data.head()

,Sno,Date,Time,States,ConfirmedIndianNational,ConfirmedForeignNational,Recovery,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3

In [8]:
# drop some columns
data = data.drop(['Sno', 'Time', 'ConfirmedIndianNational', 'ConfirmedForeignNational'],  axis=1) # axis =1 (column)

In [9]:
data.head()

       Date  States  Recovery  Deaths  Confirmed
0  30/01/20  Kerala         0       0          1
1  31/01/20  Kerala         0       0          1
2  01/02/20  Kerala         0       0          2
3  02/02/20  Kerala         0       0          3
4  03/02/20  Kerala         0       0          3

In [10]:
# find active case
data['Active'] = data['Confirmed'] - data['Recovery'] - data['Deaths']  # 1-0-0 = 1

In [11]:
data.head()

       Date  States  Recovery  Deaths  Confirmed  Active
0  30/01/20  Kerala         0       0          1       1
1  31/01/20  Kerala         0       0          1       1
2  01/02/20  Kerala         0       0          2       2
3  02/02/20  Kerala         0       0          3       3
4  03/02/20  Kerala         0       0          3       3

In [12]:
data = data.sort_values(['Date', 'States']).reset_index(drop=True)
data['Date'] = pd.to_datetime(data['Date'])

In [13]:
data

,Date,States,Recovery,Deaths,Confirmed,Active
0,2020-01-02,Kerala,0,0,2,2
1,2020-01-03,Kerala,0,0,3,3
2,2020-01-04,Andaman and Nicobar Islands,0,0,10,10
3,2020-01-04,Andhra Pradesh,1,0,83,82
4,2020-01-04,Assam,0,0,1,1
...,...,...,...,...,...,...
9286,2020-10-31,Telengana,218887,1336,238632,18409
9287,2020-10-31,Tripura,28878,346,30717,1493
9288,2020-10-31,Uttar Pradesh,448644,7007,480082,24431
9289,2020-10-31,Uttarakhand,57270,1011,61915,3634
9290,2020-10-31,West Bengal,325888,6784,369671,36999

In [20]:
india_cases = data[data['Date'] == data['Date'].max()].copy().fillna(0)
india_cases.index = india_cases['States'] # index = states
india_cases = india_cases.drop(['States', 'Date'], axis=1)

india_cases

                                          Recovery  Deaths  Confirmed  Active
States
Andaman and Nicobar Islands                   4267      60       4494     167
Andhra Pradesh                              820234    6828     847977   20915
Arunachal Pradesh                            14126      46      15657    1485
Assam                                       203308     954     209633    5371
Bihar                                       216940    1162     223917    5815
Chandigarh                                   14233     243      15434     958
Chhattisgarh                                183190    2507     205923   20226
Dadra and Nagar Haveli and Daman and Diu      3255       2       3275      18
Delhi                                       410118    7228     459975   42629
Goa                                          43029     656      45498    1813
Gujarat                                     167683    3776     183682   12223
Haryana                                     170250    1960     190323   18113
Himachal Pradesh                             21408     405      27418    5605
Jammu and Kashmir                            93313    1558     100351    5480
Jharkhand                                   100302     913     105224    4009
Karnataka                                   811581   11453     853796   30762
Kerala                                      422410    1771     502719   78538
Ladakh                                        6118      86       7134     930
Madhya Pradesh                              168568    3055     179951    8328
Maharashtra                                1597255   45560    1731833   89018
Manipur                                      17698     202      20950    3050
Meghalaya                                     9312      94      10368     962
Mizoram                                       2688       2       3242     552
Nagaland                                      8687      50       9578     841
Odisha                                      292477    1469     305000   11054
Puducherry                                   34432     605      36114    1077
Punjab                                      129549    4389     139184    5246
Rajasthan                                   198139    2019     217151   16993
Sikkim                                        3971      82       4344     291
Tamil Nadu                                  720339   11415     750409   18655
Telengana                                   235950    1393     254666   17323
Tripura                                      30208     359      31765    1198
Uttar Pradesh                               473316    7281     503159   22562
Uttarakhand                                  61451    1086      66788    4251
West Bengal                                 376696    7452     416984   32836

In [21]:
df = pd.DataFrame(pd.to_numeric(india_cases.sum())).transpose()
df.style.background_gradient(cmap='summer_r', axis=1)

In [31]:
india_cases.sort_values('Active', ascending = False).style\
    .background_gradient(cmap='BrBG_r', subset=['Confirmed'])\
    .background_gradient(cmap='BuGn_r', subset=['Deaths'])\
    .background_gradient(cmap='BuPu_r', subset=['Recovery'])\
    .background_gradient(cmap='Oranges_r', subset=['Active'])

In [ ]:
def horizontal_bar_chart(df, x, y, title, x_label, y_label, color):
    fig = px.bar(df, x=x, y=y, orientation='h', title=title, labels={x.name=x_label, y.name=y_label, color_discreate_sequence=[color]})
    fig.update_layout(yaxis={'Categoryorder':'total ascending'})
    fig.show()

In [35]:
import plotly
plotly.offline.init_notebook_mode(connected=True)
import plotly.offline as py

ModuleNotFoundError: No module named 'plotly'

In [33]:
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

In [30]:
import plotly.graph_objs as go

ModuleNotFoundError: No module named 'plotly'

In [18]:
d1 = {1:10,2:20,3:30,4:40,5:50,6:60,7:70}  # { "key":"values"}

del d1[3]  # here [3] is key
print(d1)

{1: 10, 2: 20, 4: 40, 5: 50, 6: 60, 7: 70}

In [19]:
del d1[1]
print(d1)

{2: 20, 4: 40, 5: 50, 6: 60, 7: 70}

In [22]:
d1 = {"A":10,"B":20,"C":30,"D":40,"E":50,"F":60,"G":70}
del d1[3]
print(d1)

KeyError: 3

In [24]:
d1 = {"A":10,"B":20,"C":30,"D":40,"E":50,"F":60,"G":70}
del d1["C"]
print(d1)

{'A': 10, 'B': 20, 'D': 40, 'E': 50, 'F': 60, 'G': 70}